.black-background {
    background-color: black;


}

.imge_sizer {
    width: 100%;
    height: 100%;
    transform: scale(1.5);
}

.selectButton:disabled,
button[disabled] {
    border: 1px solid #999999;
    background-color: #cccccc;
    color: #666666;
}

.lion {
    transform: rotate(15deg);
}

#Total_cost {
    color: red;
}

#header_text {
    font-family: 'Berkshire Swash', cursive;
    font-family: 'Ibarra Real Nova', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 76px;
    line-height: 94px;
    text-align: center;
    text-transform: capitalize;
}